{{!
    @template theme_kadsamhsa/signup_navbar

    Marketing navigation for auth pages (signup / login flow).
}}
<header class="kadsamhsa-signup-nav" role="banner">
    <div class="kadsamhsa-signup-nav__inner kadsamhsa-container">
        <a href="{{{signupnav.homeurl}}}" class="kadsamhsa-signup-nav__logo" aria-label="{{sitename}}">
            {{#logourl}}
                <img src="{{{logourl}}}" alt="KADSAMHSA" class="kadsamhsa-signup-nav__logo-img" width="88" height="64" />
            {{/logourl}}
            {{^logourl}}
                {{#signupnav.logourl}}
                    <img src="{{{signupnav.logourl}}}" alt="KADSAMHSA" class="kadsamhsa-signup-nav__logo-img" width="88" height="64" />
                {{/signupnav.logourl}}
                {{^signupnav.logourl}}
                    <span class="kadsamhsa-signup-nav__logo-placeholder" aria-hidden="true"></span>
                {{/signupnav.logourl}}
            {{/logourl}}
        </a>

        <button
            type="button"
            class="kadsamhsa-signup-nav__toggle d-lg-none"
            aria-expanded="false"
            aria-controls="kadsamhsa-signup-nav-menu"
            data-action="toggle-signup-nav"
        >
            <span class="kadsamhsa-signup-nav__toggle-bar" aria-hidden="true"></span>
            <span class="kadsamhsa-signup-nav__toggle-bar" aria-hidden="true"></span>
            <span class="kadsamhsa-signup-nav__toggle-bar" aria-hidden="true"></span>
            <span class="sr-only">{{#str}}togglenavigation, theme_kadsamhsa{{/str}}</span>
        </button>

        <nav id="kadsamhsa-signup-nav-menu" class="kadsamhsa-signup-nav__menu" aria-label="{{#str}}signupnavlabel, theme_kadsamhsa{{/str}}">
            <ul class="kadsamhsa-signup-nav__links">
                <li>
                    <a href="{{{signupnav.homeurl}}}" class="kadsamhsa-signup-nav__link{{#signupnav.homeactive}} is-active{{/signupnav.homeactive}}">
                        {{#str}}signupnavhome, theme_kadsamhsa{{/str}}
                    </a>
                </li>
                <li>
                    <a href="{{{signupnav.abouturl}}}" class="kadsamhsa-signup-nav__link{{#signupnav.aboutactive}} is-active{{/signupnav.aboutactive}}">
                        {{#str}}signupnavabout, theme_kadsamhsa{{/str}}
                    </a>
                </li>
                <li>
                    <a href="{{{signupnav.coursesurl}}}" class="kadsamhsa-signup-nav__link{{#signupnav.coursesactive}} is-active{{/signupnav.coursesactive}}">
                        {{#str}}signupnavcourses, theme_kadsamhsa{{/str}}
                    </a>
                </li>
            </ul>

            <div class="kadsamhsa-signup-nav__actions">
                <a href="{{{signupnav.loginurl}}}" class="kadsamhsa-signup-nav__login{{#signupnav.loginactive}} is-active{{/signupnav.loginactive}}">
                    {{#str}}signupnavlogin, theme_kadsamhsa{{/str}}
                </a>
                <a href="{{{signupnav.signupurl}}}" class="kadsamhsa-signup-nav__cta{{#signupnav.signupactive}} is-active{{/signupnav.signupactive}}">
                    <span class="kadsamhsa-signup-nav__cta-text">{{#str}}signupnavsignup, theme_kadsamhsa{{/str}}</span>
                    <span class="kadsamhsa-signup-nav__cta-icon" aria-hidden="true">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 7h8M8 4l3 3-3 3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </a>
            </div>
        </nav>
    </div>
</header>
